<!DOCTYPE html>
<html lang="pt-br">
     <%- include('./paciais/head.ejs') %>
<body>
    <%- include('./paciais/nav.ejs') %>
    <div class="conteudo-blog">
        <h2>Tela sobre a empresa</h2>
    </div>

    <%- include('./paciais/footer.ejs') %>
</body>
</html>